* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #090909;
  display: grid;
  place-items: center;
  font-family: Poppins;
}

.card {
  width: 220px;
  height: 320px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  position: relative;
  overflow: hidden;
  transition: all 0.4s ease-out;
}

.overlay {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  background-color: #ecc6d9;
  z-index: 0;
  transform: translate(-50%, -70%) scale(0);
  transition: all 0.4s ease-out;
}

.circle {
  width: 120px;
  height: 120px;
  background-color: #ecc6d9;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition: all 0.4s ease-out;
}

.card:hover {
  transform: translateY(-10px);
}
.card:hover .overlay {
  transform: translate(-50%, -70%) scale(5);
}
.card:hover .circle {
  background-color: #f9ecf2;
}

.card p {
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 2;
}
